<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Static/css/Style.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1> Este es un encabezado </h1>
    </header>

    <nav>
    <ul>
        <li> 
        <a href="#"> Option 1 </a>
        </li>
        <li>  
        Option 2

        <ul>
        <li> subitem 1 </li>
        <li> subitem 2 </li>
        </ul>
        </li>

        <li>
        option 3
        </li>
    </ul>

    </nav>
    <main>
        <section>
            <p> Section principal </p>
        </section>
        <section>
            <table border = 1>
                <thead>
                    <th> Nombre </th>
                    <th> carrera</th>
                    <th> Telefono </th>
                    <th> Correo </th>
                </thead>
            <tbody>
                <tr>
                <td> Axel </td>
                <td> Sistemas </td>
                <td> 442-586-8308 </td>
                <td> axel@example.com </td>
                </tr>
            </tbody>
    <footer>
        <p> Esto es un pie de pagina </p>
    </footer>
</body>
</html>